{% extends "base.html" %}

    <title>{% block title %} Computers {% endblock %}</title>

{% block content %}
    <div class="search-container" style="margin-top: 20px">
        <form action="{% url 'products:computer-list' %}" method="get">
            <input type="search" name="search" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>
<body>
<h1>Computers Page</h1>
<a href="{% url 'products:create-computer'%}">Add Card</a> <br><br><hr>

{% for b in computer %}
    <a href="{% url 'products:computer-detail' b.pk %}">{{ b.title }}</a> <br><br>
{% endfor %}
</body>
{% endblock content %}




